.whole {
  border: 1px #d3d3d3 solid;
  width: 80vw;
  display: flex;
  flex-direction: column;
  margin-left: 10%;
  border-radius: 5px;
  margin-bottom: 2%;
  box-shadow: rgba(0, 0, 0, 0.15) 1px 1px 2px;
}
.ul {
  list-style: none;
}
.column {
  float: left;
  width: 33.33%;
  padding-top: 1%;
}
.row::after {
  content: "";
  display: table;
  clear: both;
}
.bold {
  font-weight: 600;
}
.second {
  padding-top: 3%;
}