.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: clip;
  margin-top: 0;
  padding-top: 0;
}
.whole {
  height: 100%;
  display: flexbox;
}
.form {
  display: flexbox;
  align-items: center;
  text-align: center;
  margin-top: 20%;
}