.h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 16pt;
    font-weight: 900;
    color: black;
    margin: 10px auto 20px auto;
}
.form {
    display: flex;
    flex-direction: column;
    min-height: 55vh;
    justify-content: space-between;
}
.formdiv {
    width: 70vw;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
.numberInput {
    width: 50px;
    height: 1.3rem;
    border-radius: 8px;
    border: 1px solid #000;
}
.inputline {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding-bottom: 10px;
}
.titleline {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding-bottom: 10px;
    font-weight: 700;
}
.editbtn {
    border: none;
    background-color: #fff;
}
.btnblock {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 70vw;
    max-width: 400px;
}
.btnprim {
    background-color: #4A8CC7;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 100px;
    border: 2px solid #4A8CC7;
    width: 70vw;
    max-width: 400px;
    padding: 5px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    margin: 10px 0;
}
.btnsec {
    background-color: #fff;
    color: #4A8CC7;
    border: 2px solid #4A8CC7;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 100px;
    width: 70vw;
    max-width: 400px;
    padding: 5px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    margin: 10px 0;
}
.h2oicon {
    color: #4285F4;
}
.hr {
    color: #000;
}