/* .container {
    border: 3px solid red;
} */
.container {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
}
.item {
    display: block;
    padding: 5px;
    /* border: 3px solid blue; */
    font-size: smaller;
}
h1 {
    font-size: 16px;
}
.bell {
    vertical-align: bottom;

}
.angle {
    align-self: flex-end;
    color: #000;
}
.title {
    font-size: 16pt;
    text-transform: uppercase;
    font-weight: 900;
    color: black;
}