.nav {
  /* background-color: lightgray; */
  margin-top: -1rem;
  padding-top: 0;
  display: flex;
  flex-direction: column;
}
.logout {
  display: flex;
  float: right;
  margin-right: 2%;
  /* margin-top: 1%; */
  padding-right: 1%;
  margin-top: -2%;
}
.btn {
  border: none;
  padding: 0.5rem;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.15) 1px 1px 2.2px;
  font-size: 16px;
  margin-top: 1%;
  margin-left: 1%;
}
.ul {
  list-style: none;
  display: flex;
  padding-top: 1rem;
}
.h1 {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 1%;
  padding-bottom: 2rem;
}
.hidden {
  display: none;
}
.hidden p {
  padding-left: 2%;
}
.hamburger:hover .hidden {
  display: flex;
}
.logobox {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  margin-bottom: 10px;
}
.logo {
  max-width: 40vw;
  max-height: 20vh;
  display: flex;
  flex-direction: column;
  padding: 0;
}
