.container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
}

.label {
  margin: 0 auto;
}

.inputContainer {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  width: 70vw;
  max-width: 400px;
}
.signupinput {
  width: 70vw;
  max-width: 400px;
  border-radius: 8px;
  border: 1px solid #000;
}
.btnblock {
  display: flex;
  flex-direction: column;
  width: 70vw;
  max-width: 400px;
}
.btnprim {
  background-color: #4A8CC7;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 100px;
  border: 2px solid #4A8CC7;
  width: 70vw;
  max-width: 400px;
  padding: 5px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  margin: 10px 0;
}
.btnsec {
  background-color: #fff;
  color: #4A8CC7;
  border: 2px solid #4A8CC7;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 100px;
  width: 70vw;
  max-width: 400px;
  padding: 5px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  margin: 10px 0;
}